<div style="padding: 30px;">
    <h2 class="title">Descrição do jogo: </h2>
    <p>Você está em isolamento durante a pandemia de 2020 e sua casa é seu único espaço de vivência. Não tendo muito com
        o que se distrair, você começa a observar tudo a seu redor com novos olhos como forma de passar o tempo, de
        repensar suas histórias e se agarrar em qualquer pensamento que passe por sua cabeça. </p>

    <h2 class="title">Objetivo:</h2>

    <p>Montar uma história, uma narrativa, com apenas as fotografias dadas no jogo.</p>


    <h2 class="title">Como jogar: </h2>

    <p>Para jogar, escolha as fotos, clicando e arrastando-as para a faixa azul e reorganize à vontade para formar sua
        história em imagens. </p>

    <h2 class="instructions">Ao montar sua narrativa, aperte “play” </h2>
</div>